@model OpenTable.ViewModels.TableManagementViewModel

@{
    ViewBag.Title = "Table Management";
}

<h2>@Html.DisplayFor(m => m.RestaurantName) - Table Management</h2>

<body onload="initTableManagementView('@Model.TablesMaxId','@Model.Tables')"></body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <div class="col-md-10">
                    <button type="button" class="btn btn-primary" onclick="addTable(@Html.DisplayFor(m => m.RestaurantId))">Add table</button>
                    <button type="button" class="btn btn-danger" onclick="deleteAllTables()">Delete all tables</button>
                </div>
            </div>

            <div class="restaurant"></div>

            <div class="form-group">
                <div class="col-md-10">                    

                    <input value="Save table set" class="btn btn-success" onclick="saveTablesSet()"/>
                </div>
            </div>
        </div>
    }

    <script>

    </script>

    @section Scripts {              
        @Scripts.Render("~/Scripts/jquery-ui.js")
        @Scripts.Render("~/Scripts/table-management.js")
    }
